h2{
font-size : 28 px; 
color: #3388BB; 
text-transform : uppercase; 
border-bottom: 3px solid #3388DD; 
}

table {
border-spacing: 7pt;
}

/* Style table Experience */
#tabExperience td:nth-child(2){
text-align: center;
width: 5%;
}

/* Style table Competence */
#tabCompetence th:nth-child(1){
text-align: left;
}

/* Style table Langues */
#tabLangues th:nth-child(1){
text-align: left;
}

#tabLangues td:nth-child(2){
padding-left: 5em;
/* background-color: #ff00ff; */
}

span.titreFormation {
font-style: italic;
font-weight: bold;
}

span.institution{
font-style: italic;
}
