
h1{
color: #333333; 
}

h2{
font-size : 28 px; 
color: #555555; 
text-transform : uppercase; 
border: 2px solid #888888;
box-shadow: 3px 5px 3px #AAAAAA;
}

h3{
color: #333333; 
}

table {
border-spacing: 7pt;
}

/* Style table Experience */
#tabExperience td:nth-child(2){
text-align: center;
width: 5%;
}

/* Style table Competence */
#tabCompetence th:nth-child(1){
text-align: left;
color: #333333; 
}

/* Style table Langues */
#tabLangues th:nth-child(1){
text-align: left;
color: #333333; 
}

#tabLangues td:nth-child(2){
padding-left: 5em;
/* background-color: #ff00ff; */
}

span.titreFormation {
font-style: italic;
font-weight: bold;
color: #333333; 
}

span.institution{
font-style: italic;
}
